html,body{
    font-family: 'Work Sans', sans-serif;
    color: #1d1d1d;

    background: #1d1d1d;
}
body{
    margin: 0;
}
main{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    text-align: center;

}
.sidebar{
    line-height: 10pt;
    font-family: 'Bebas Neue', cursive;
    font-size: 30pt;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f4cbc6;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.6s;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}


.sidebar a:hover {
    color: #ed95ae;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    padding-top: 30px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    cursor: pointer;
    background-color: #1d1d1d;
    color: white;
    padding: 8px 15px;
    border: none;
}

.openbtn:hover {
    background-color: white;
    color: #050505;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#sidebars {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;

}
#frontpage{
    text-align: center;
    width: 100%;
    height: 100%;
    display: grid;

}
#top{
    padding-top: 2%;
    /*font-family: 'Inconsolata', monospace;*/
    font-size: 28pt;
    grid-column: 1/11;
    grid-row: 1/4;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 52pt;
    color: #FB6100;
}

#logo{
    grid-column: 1/11;
}
.footer {

    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}
.w3-bar{
    margin: 0;
    background: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 25pt;
    height: 100%;
    width: 100%;
}
.button1{
    background: white;
}
.button1:hover{
    color: #cc978e;
    background: white;
}
