html,body{
    background: #93001F;
    font-family: 'Work Sans', sans-serif;
    margin-right: 7px;
    margin-left: 7px;
    height: 100%
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
}

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F6BFCF;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.6s;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #93001F;
    display: block;
    transition: 0.3s;
}


.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #93001F;
    color: white;
    padding: 8px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #FB6100;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#sidebars {
    font-family: 'Work Sans', sans-serif;
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

#rightside{
    align-content: center;
    grid-column:2;
    grid-row-start: 2;
}
#leftside{
    font-size: 16pt;
    color: #F6BFCF;
    grid-column:1;
    padding-left: 20px;
    grid-row-start: 2;
    margin: auto;
}
#title{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 52pt;
    color: white;
}
.container {
    align-self: center;
    align-content: center;
    margin: auto;
    position: relative;
    width: 60%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FB6100;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#skills{
    grid-column-end: 10;
    text-align: right;
}
footer{
    grid-column: 1/3;
    grid-row: 6;
    padding-bottom: 20px;
   float: bottom;
    bottom: 0;
    margin: 22px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    color: #f1f1f1;
}